[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"bs4" = "*"
lxml = "*"
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-mail="*"
flask-rest-api = "*"
flask-socketio = "*"
pyjwt = "*"
eventlet = "*"
gunicorn = "*"
pymysql = "*"
redis = "*"
"flask-rq2" = "*"
elasticsearch = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
"psycopg2" = "*"
codecov = "*"

[requires]
python_version = "3.7"
