[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"bs4" = "*"
lxml = "*"
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-mail="*"
flask-rest-api = "*"
flask-socketio = "*"
pyjwt = "*"
rq = "*"
redis = "*"
elasticsearch = "*"
eventlet = "*"
gunicorn = "*"
pymysql = "*"
pyinvoke = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
